@model List<MessageListDto>

<li class="dropdown head-dpdn">
    @if (ViewBag.UnreadMessagesCount != 0)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">@ViewBag.UnreadMessagesCount</span></a>
    }
    else
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i></a>
    }
    <ul class="dropdown-menu">
        <li>
            <div class="notification_header">
                @if (ViewBag.UnreadMessagesCount != 0)
                {
                    <h3 style="text-align:center;">@ViewBag.UnreadMessagesCount Yeni Mesajınız Var</h3>
                }
                else
                {
                    <h3 style="text-align:center;">Henüz Yeni Bir Mesajınız Yok</h3>
                }
            </div>
        </li>
        @foreach (var message in Model)
        {
            <li>
                <a data-id="@message.Id" asp-area="Teacher" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">
                    @if (message.SenderUser.ImageId is not null)
                    {
                        <div class="user_img"><img src="~/images/@message.SenderUser.Image.FileName" alt=""></div>
                    }
                    else
                    {
                        @* Eger mesaj atan kisinin gorseli yoksa varsayilan gorsel gelecek. *@
                        <div class="user_img"><img src="~/icons/user-avatar-profile.png" alt=""></div>
                    }
                    <div class="notification_desc">
                        <strong>@message.SenderUser.Name @message.SenderUser.Surname</strong>
                        @if (message.Subject.Length <= 23)
                        {
                            <p style="font-weight:bold;">@message.Subject</p>
                        }
                        else
                        {
                            <p style="font-weight:bold;">@message.Subject.Substring(0, 23)...</p>
                        }
                        @if (message.Content.Length < 20)
                        {
                            <small class="text-muted">@Html.Raw(message.Content)</small>
                        }
                        else
                        {
                            <small class="text-muted">@Regex.Replace(HttpUtility.HtmlDecode(message.Content), @"<[^>]*>|&nbsp;", "").Substring(0, 20)...</small>
                        }
                        <p style="">
                            @{
                                TimeSpan difference = DateTime.Now - message.CreatedDate; // iki tarih arasi fark
                                var secondDifference = 0;
                                var minuteDifference = 0;
                                var hourDifference = 0;
                                var dayDifference = 0;

                                TimeSpan twentyFourHours = TimeSpan.FromHours(24);

                                // Eger yapilan mesaj hem gun hem de saat yonunden su an ki gune ve saate esitse ve toplam saniye 60'tan az ise aradaki toplam saniye farkini bul.
                                @if (message.CreatedDate.Day == DateTime.Now.Day
                        && message.CreatedDate.Hour == DateTime.Now.Hour
                        && difference.TotalSeconds < 60)
                                {
                                    secondDifference = Convert.ToInt32(Math.Floor(difference.TotalSeconds));
                                    <span>@secondDifference saniye önce</span>
                                }

                                // Hem gun hem de saat yonunden su an ki gune ve saate esitse ve toplam dakika 1'den az ise 0 dakika gostermemesi icin 1 dakika once yaz.
                                else if (message.CreatedDate.Day == DateTime.Now.Day &&
                                message.CreatedDate.Hour == DateTime.Now.Hour &&
                                difference.TotalMinutes < 1) // Fark 1 dakikadan azsa
                                {
                                    <span>1 dakika önce</span>
                                }

                                // Fark 1 saatten azsa
                                else if (message.CreatedDate.Day == DateTime.Now.Day &&
                                message.CreatedDate.Hour == DateTime.Now.Hour &&
                                difference.TotalMinutes < 60)
                                {
                                    minuteDifference = Convert.ToInt32(Math.Floor(difference.TotalMinutes));
                                    <span>@minuteDifference dakika önce</span>
                                }
                                // Fark 24 saatten azsa
                                else if (difference <= twentyFourHours)
                                {
                                    hourDifference = Convert.ToInt32(Math.Floor(difference.TotalHours));
                                    <span>@hourDifference saat önce</span>
                                }
                                // Fark 24 saatten fazlaysa
                                else
                                {
                                    dayDifference = Convert.ToInt32(Math.Floor(difference.TotalDays));
                                    <span>@dayDifference gün önce</span>
                                }
                            }
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
        }
        <li>
            <div class="notification_bottom">
                <a asp-area="Teacher" asp-controller="Message" asp-action="InBox">Tüm mesajları gör</a>
            </div>
        </li>
    </ul>
</li>