@model List<LessonScoreListDto>

@{
    ViewData["Title"] = "Silinmiş Not Bilgileri";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Silinmiş Not Bilgileri</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Silinmiş Öğeler</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Not Bilgileri</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="card">
                    <div class="text-nowrap m-5">

                        <table class="table table-striped" id="lessonScoresTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Öğrenci No</th>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>Sınıfı</th>
                                    <th>Ders Adı</th>
                                    <th>Dersin Öğretmeni</th>
                                    <th>1. Sınav Notu</th>
                                    <th>2. Sınav Notu</th>
                                    <th>Performans Notu</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Öğrenci No</th>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>Sınıfı</th>
                                    <th>Ders Adı</th>
                                    <th>Dersin Öğretmeni</th>
                                    <th>1. Sınav Notu</th>
                                    <th>2. Sınav Notu</th>
                                    <th>Performans Notu</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                            <tbody class="table-border-bottom-0">
                                @foreach (var lessonScore in Model)
                                {
                                    <tr name="@lessonScore.Id">
                                        <td>@lessonScore.StudentNo</td>
                                        <td>@lessonScore.User.Name</td>
                                        <td>@lessonScore.User.Surname</td>
                                        <td>@lessonScore.GradeName</td>
                                        <td>@lessonScore.Lesson.LessonName</td>
                                        <td>@lessonScore.LessonTeacher</td>
                                        <td>
                                            @if (lessonScore.Score1 == 0)
                                            {
                                                  <p>-</p>
                                            }
                                            else
                                            {
                                                @lessonScore.Score1
                                            }
                                        </td>
                                        <td>
                                            @if (lessonScore.Score2 == 0)
                                            {
                                                <p>-</p>
                                            }
                                            else
                                            {
                                                @lessonScore.Score2
                                            }
                                        </td>
                                        <td>
                                            @if (lessonScore.PerformanceScore == 0)
                                            {
                                                <p>-</p>
                                            }
                                            else
                                            {
                                                @lessonScore.PerformanceScore
                                            }
                                        </td>
                                        <td>@(lessonScore.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                                        <td class="text-center">
                                            <div class="row">
                                                <a class="btn btn-warning btn-sm" style="margin-right:0.5em;" data-id="@lessonScore.Id" asp-area="Admin" asp-controller="LessonScore" asp-action="UndoDelete" asp-route-lessonScoreId="@lessonScore.Id"><i class="fa fa-undo"></i></a>

                                                <form id="deleteForm" asp-area="Admin" asp-controller="LessonScore" asp-action="HardDelete" asp-route-lessonScoreId="@lessonScore.Id" method="post" onsubmit="event.preventDefault(); confirmDelete(event)">
                                                    <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-minus-circle"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/lessonScoreIndex.js" type="application/ecmascript"></script>

    <script>
        function confirmDelete(event) {
            Swal.fire({
                title: 'Silmek istediğinize emin misiniz?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Silme islemini gerceklestir
                    document.getElementById("deleteForm").submit();
                } else {
                    // İptal edildiginde yapilacak islemler
                    console.log("Silme işlemi iptal edildi.");
                    return false;
                }
            });
        }
    </script>
}