
<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-xs text-center">
            <div class="m-b-xs">
                <h2 class="font-bold no-margins">
                    @ViewBag.GetLoggedInNameSurname
                </h2>

            </div>
            @* style="width:85px; height:100px" *@
            @if (@ViewBag.GetLoggedInImageId is not null) @* Profil resmi bos degilse o resmi gosterecek. Bossa varsayilan resim gosterilecek.*@
            {
                <img src="~/images/@ViewBag.GetLoggedInImage" style="height:7.5em; width:7.5em;" class="rounded-circle circle-border m-b-xs" alt="profile">
            }
            else
            {
                <img src="~/icons/@ViewBag.GetLoggedInImage" style="height:7.5em; width:7.5em;" class="rounded-circle circle-border m-b-xs" alt="profile">
            }
        </div>
        <div class="widget-text-box" style="padding-bottom:4em;">
            @if (ViewBag.GetLoggedInAbout is not null) @*Eger hakkımda yazisi yazilmamizsa varsayilan yazi gelsin.*@
            {
                <p style="text-align:center;">@Html.Raw(ViewBag.GetLoggedInAbout)</p>
            }
            else
            {
                <p style="text-align:center;">
                    Atlas Koleji okulunun web sitesinde Admin kullanıcısı olarak görev almaktadır.
                    Admin rolü sistemdeki tüm her şeye müdahale edebilmektedir.
                </p>
            }

        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md pb-3 pt-4">
                <i class="fa fa-flask fa-4x"></i>
                <h1 class="m-xs">@ViewBag.TotalGradeCount</h1>
                <h3 class="font-bold no-margins">
                    Sınıf
                </h3>
                <small>Sayısı</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-md">

            <h2 class="font-bold">
                @ViewBag.GetLoggedInNameSurname
            </h2>
            <ul class="list-unstyled m-t-md pb-3 pt-2">
                <li>
                    <span class="fa fa-user m-r-xs"></span>
                    <label>Kullanıcı Adı:</label>
                    @ViewBag.GetLoggedInUserName
                </li>
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>E-Mail:</label>
                    @ViewBag.GetLoggedInEmail
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Adres:</label>
                    @ViewBag.GetLoggedInAddress
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>İletişim:</label>
                    +90 @ViewBag.GetLoggedInPhone
                </li>
            </ul>

        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md pb-3 pt-4">
                <i class="fa fa-file-text fa-4x"></i>
                <h1 class="m-xs">@ViewBag.TotalReportCount</h1>
                <h3 class="font-bold no-margins">
                    Haber
                </h3>
                <small>&nbsp; &nbsp; &nbsp; &nbsp;</small>
            </div>
        </div>
    </div>
</div>