@model List<LessonVideoListDto>

@{
    ViewData["Title"] = "Ders Videoları";
}

<div class="inner-block" style="margin-bottom: 24em;">
    <div class="product-block">
        <div class="pro-head">
            <h2>@ViewBag.LessonName Dersine Ait Ders Videoları</h2>
        </div>
        <a class="btn btn-success mb-3" asp-area="Student" asp-controller="Lesson" asp-action="Index" style="margin-left: 1.1em; margin-bottom:1.7em;">
            <i class="fa fa-arrow-left"></i> Geri Dön
        </a>
        <br />
        @foreach (var video in Model)
        {
            // Hem youtube videosu entegre edilmis hem de video yuklenmisse tek bir kart gosterilecek. Fakat video detayinda iki video da yan yana gosterilecek.

            @if (video.YoutubeVideoPath is not null && video.VideoId is not null) // Eger ogretmen o ders icin hem youtube videosu hem de normal video yuklemisse tek bir kart olustur.
            {
                <div class="col-md-3 product-grid">

                    <div class="product-items">
                        <div class="produ-cost">
                            <h4>Başlık: @video.Title</h4>
                            <h5>Yüklenme Tarihi: @video.CreatedDate.ToShortDateString()</h5>
                        </div>
                        <div class="project-eff">
                            <div id="nivo-lightbox-demo" style="text-align:center;">
                                <a style="font-size:17px; color:black;" data-id="@video.Id" asp-area="Student" asp-controller="LessonVideo" asp-action="Detail" asp-route-lessonVideoId="@video.Id" class="btn btn-link">
                                    <i class="fa fa-play"></i> Videoyu İzlemek İçin Tıklayın
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            }
            else if (video.YoutubeVideoPath is null) // Eger ogretmen o ders ve konu basligi icin yotube ders videosu entegre etmemisse yuklenen video icin bir kart olustur.
            {
                <div class="col-md-3 product-grid">

                    <div class="product-items">
                        <div class="produ-cost">
                            <h4>Başlık: @video.Title</h4>
                            <h5>Yüklenme Tarihi: @video.CreatedDate.ToShortDateString()</h5>
                        </div>
                        <div class="project-eff">
                            <div id="nivo-lightbox-demo" style="text-align:center;">
                                <a style="font-size:17px; color:black;" data-id="@video.Id" asp-area="Student" asp-controller="LessonVideo" asp-action="Detail" asp-route-lessonVideoId="@video.Id" class="btn btn-link">
                                    <i class="fa fa-play"></i> Videoyu İzlemek İçin Tıklayın
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            }
            else if (video.VideoId is null) // Eger ogretmen o ders ve konu basligi icin ders videosu yuklememisse youtube videosu icin bir kart olustur.
            {
                <div class="col-md-3 product-grid">
                    <div class="product-items">
                        <div class="produ-cost">
                            <h4>Başlık: @video.Title</h4>
                            <h5>Yüklenme Tarihi: @video.CreatedDate.ToShortDateString()</h5>
                        </div>
                        <div class="project-eff">
                            <div id="nivo-lightbox-demo" style="text-align:center;">
                                <a style="font-size:17px; color:black;" data-id="@video.Id" asp-area="Student" asp-controller="LessonVideo" asp-action="Detail" asp-route-lessonVideoId="@video.Id" class="btn btn-link">
                                    <i class="fa fa-play"></i> Videoyu İzlemek İçin Tıklayın
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            }
        }

        @if (Model.Count == 0) // Eger derse ait hic video yoksa
        {
            <h3 style="margin-left: 0.7em; margin-bottom:1.7em; margin-top:0.5em; color:#da2222;">
                Bu derse ait henüz video yüklenmedi.
            </h3>
        }

        <div class="clearfix"> </div>
    </div>
</div>