@model MessageListDto
@{
    ViewData["Title"] = "Mesaj Detayları";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync("MessageSidebar")
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <h2>
                    Mesaj Detayları
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <h3>
                        <span class="font-normal">Konu: </span>@Model.Subject
                    </h3>
                    <h5>
                        <span class="float-right font-normal">@Model.CreatedDate.ToString("dd MMM yyyy HH:mm")</span>
                        <span class="font-normal">Gönderen: </span>@Model.SenderUserEmail <br />
                        <span class="font-normal">Alıcı: </span>@Model.ReceiverUserEmail
                    </h5>
                </div>
            </div>
            <div class="mail-box">
                <div class="mail-body">
                    <p>
                        @Html.Raw(Model.Content)
                    </p>
                </div>
                <div class="mail-body text-left tooltip-demo">
                    @if (Model.ReceiverUserId == ViewBag.LoginUserId) @* Giren kisiye ait gelen mesajin detayina gidilmisse SafeDeleteInBox ile silme islemi gerceklestirilecek *@
                    {                      
                        <a data-id="@ViewBag.messageId" asp-area="Admin" asp-controller="Message" asp-action="SafeDeleteInBox" asp-route-messageId="@ViewBag.messageId" class="btn btn-danger btn-sm" title="Çöp Kutusuna Taşı">
                            <i class="fa fa-trash-o"></i> Çöp Kutusuna Taşı
                        </a>
                    }
                    else if (Model.SenderUserId == ViewBag.LoginUserId) @* Giren kisinin gonderdigi mesajin detayina gidilmisse SafeDeleteSendBox ile silme islemi gerceklestirilecek *@
                    {
                        <a data-id="@ViewBag.messageId" asp-area="Admin" asp-controller="Message" asp-action="SafeDeleteSendBox" asp-route-messageId="@ViewBag.messageId" class="btn btn-danger btn-sm" title="Çöp Kutusuna Taşı">
                            <i class="fa fa-trash-o"></i> Çöp Kutusuna Taşı
                        </a>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>