@model List<MessageListDto>
@{
    ViewData["Title"] = "Gelen Kutusu";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync("MessageSidebar")
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="float-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" name="search" placeholder="Mesaj Ara">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Ara
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    Gelen Kutusu (@ViewBag.inboxMessageCount)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Yenile</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                        @* Okunmamis mesaj icin unread, okunmmus mesaj icin read classi kullaniliyor *@
                        @*  <tr class="unread">
                        <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">Anna Smith</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">Lorem ipsum dolor noretek imit set.</a></td>
                        <td class=""><i class="fa fa-paperclip"></i></td>
                        @* Mesaj yildizlandiysa
                        <td class="text-right mail-date">6.10 AM</td>
                        </tr> *@
                        @foreach (var message in Model)
                        {
                            <tr class="unread">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks">
                                </td>
                                <td class="mail-ontact"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.SenderUser.Name @message.SenderUser.Surname</a></td>
                                <td class="mail-subject"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a></td>
                                <td class=""><i class="fa fa-paperclip"></i></td>
                                <td class="text-right mail-date">@message.CreatedDate.ToString("dd MMM yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>