@model SearchModel

@{
    ViewData["Title"] = "Mesaj Arama Sonuçları";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync("MessageSidebar")
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form asp-area="Admin" asp-controller="Message" asp-action="SearchMessage" method="get" class="float-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" name="keyword" placeholder="Mesajlarda arayın">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary" style="padding-bottom:0.5em;">
                                Ara
                            </button>
                        </div>
                    </div>
                </form>

                <h2>Arama Sonuçları </h2>

                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        @* Mesaj sayisi 5'ten fazla ise sayfalama islemi *@
                        @if (Model.Messages.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Messages, page => Url.Action("SearchMessage", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                    <button class="btn btn-white btn-sm" id="btn" data-toggle="tooltip" data-placement="left" title="Yenile"><i class="fa fa-refresh"></i> Yenile</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Tümünü çöp kutusuna taşı"><i class="fa fa-trash-o"></i> </button>
                </div>
            </div>
            <div class="mail-box">
                @if (ViewBag.Keyword is null || Model.Messages.Count == 0)
                {
                    <div style="margin-left:1.5em; margin-bottom:2em; padding-top:1em;">
                        <h4>
                            Aradığınız “@ViewBag.Keyword” kelimesine ait mesaj bulunamadı... :(
                        </h4>
                        <p style="color:gray;">Lütfen tekrar deneyin.</p>
                    </div>
                }
                else if (Model.Messages.Count != 0)
                {
                    <table class="table table-hover table-mail">
                        <tbody>
                            @foreach (var message in Model.Messages)
                            {
                                @* Okunmamis mesaj icin unread, okunmus mesaj icin read classi kullaniliyor *@
                                @* Eger mesaj okunmus ise read classi kullaniyoruz. *@
                                <tr class="@(message.IsRead ? "read" : "unread")" id="data">

                                    <td class="check-mail">
                                        <div class="btn-group">
                                            @* <input type="checkbox" class="i-checks mr-2 ml-1"> *@
                                            @if (message.ReceiverUserId == ViewBag.LoginUserId) @* Giren kisiye ait gelen mesajin silme butonuna basilmissa SafeDeleteInBox ile silme islemi gerceklestirilecek *@
                                            {
                                                <a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="SafeDeleteInBox" asp-route-messageId="@message.Id" class="mr-2 ml-1" title="Çöp Kutusuna Taşı"><i class="fa fa-trash-o"></i></a>

                                            }
                                            else if (message.SenderUserId == ViewBag.LoginUserId) @* Giren kisinin baskasina gonderdigi  mesajin silme butonuna basilmissa SafeDeleteSendBox ile silme islemi gerceklestirilecek *@
                                            {
                                                <a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="SafeDeleteSendBox" asp-route-messageId="@message.Id" class="mr-2 ml-1" title="Çöp Kutusuna Taşı"><i class="fa fa-trash-o"></i></a>
                                            }


                                            @if (message.IsImportant == false)
                                            {
                                                <a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="MakeImportantMessage" asp-route-messageId="@message.Id" title="Yıldızla"><i class="fa fa-star-o"></i></a>
                                            }
                                            else
                                            {
                                                <a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="UndoMakeImportantMessage" asp-route-messageId="@message.Id" title="Yıldızlamaktan Vazgeç"><i class="fa fa-star"></i></a>
                                            }
                                        </div>
                                    </td>
                                    <td class="mail-ontact"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.SenderUser.Name @message.SenderUser.Surname</a></td>
                                    <td class="mail-subject"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a></td>
                                    @* <td class=""><i class="fa fa-paperclip"></i></td> *@
                                    <td class="text-right mail-date">@message.CreatedDate.ToString("dd MMM yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('btn').addEventListener('click', function () {
        location.reload(); // Btn id'ye sahip butona tiklandiginda sayfa yeniden yuklenmesi icin.
    });
</script>
