@model List<MessageListDto>

@{
    ViewData["Title"] = "Giden Kutusu";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync("MessageSidebar")
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="float-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" name="search" placeholder="Mesaj Ara">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Ara
                            </button>
                        </div>
                    </div>
                </form>
                @if (ViewBag.sendboxMessageCount != 0)
                {
                    <h2> Gönderilen Mesajlar (@ViewBag.sendboxMessageCount)</h2>
                }
                else
                {
                    <h2> Gönderilen Mesajlar</h2>
                }
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" id="btn" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Yenile</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
            <div class="mail-box">
                @if (Model.Count != 0)
                {
                    <table class="table table-hover table-mail">
                        <tbody>
                            @foreach (var message in Model)
                            {
                                <tr class="read">
                                    <td class="check-mail">
                                        <input type="checkbox" class="i-checks">
                                    </td>
                                    <td class="mail-ontact"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.ReceiverUser.Name @message.ReceiverUser.Surname</a></td>
                                    <td class="mail-subject"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a></td>
                                    <td class="text-right mail-date">@message.CreatedDate.ToString("dd MMM yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div style="margin-left:1.5em; margin-bottom:2em; padding-top:1em;">
                        <h4>Henüz göndermiş olduğunuz bir mesaj yok.</h4>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('btn').addEventListener('click', function () {
        location.reload(); // Btn id'ye sahip butona tiklandiginda sayfa yeniden yuklenmesi icin.
    });
</script>