@model IPagedList<MessageListDto>
@{
    ViewData["Title"] = "Çöp Kutusu";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync("MessageSidebar")
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form asp-area="Admin" asp-controller="Message" asp-action="SearchMessage" method="get" class="float-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" name="keyword" placeholder="Mesajlarda arayın">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary" style="padding-bottom:0.5em;">
                                Ara
                            </button>
                        </div>
                    </div>
                </form>

                @if (ViewBag.trashMessageCount != 0)
                {
                    <h2> Çöp Kutusu (@ViewBag.trashMessageCount)</h2>
                }
                else
                {
                    <h2> Çöp Kutusu</h2>
                }
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        @* Mesaj sayisi 10'dan fazla ise sayfalama islemi *@
                        @if (Model.Count >= 10)
                        {
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("TrashBox", new { page }))
                        }
                    </div>
                    <button class="btn btn-white btn-sm" id="btn" data-toggle="tooltip" data-placement="left" title="Yenile"><i class="fa fa-refresh"></i> Yenile</button>

                    @if (Model.Count != 0) @* Eger sayfada hic veri listelenmiyorsa bu buton gozukmesin *@
                    {
                        <a asp-area="Admin" asp-controller="Message" asp-action="HardDeleteAllTrashBox" title="Tümünü Sil" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> Çöp Kutusunu Şimdi Boşaltın</a>
                    }
                </div>
            </div>
            <div class="mail-box">
                @if (Model.Count != 0)
                {
                    <table class="table table-hover table-mail">
                        <tbody>
                            @foreach (var message in Model)
                            {
                                @if (message.ReceiverUserId == ViewBag.LoginUserId) @* Giren kisiye ait gelen mesajlardan cop kutusuna tasidigi mesajlar listelenecek *@
                                {
                                    <tr class="read">
                                        <td class="check-mail">
                                            @* <input type="checkbox" class="i-checks"> *@
                                            <div class="btn-group">
                                                <a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="UndoDeleteInBox" asp-route-messageId="@message.Id" title="Geri Al" class="mr-2 ml-1 mt-1"><i class="fa fa-undo"></i></a>

                                                <form id="deleteForm" asp-area="Admin" asp-controller="Message" asp-action="HardDeleteInBox" asp-route-messageId="@message.Id" method="post" onsubmit="event.preventDefault(); confirmDelete(event)">
                                                    <button type="submit" class="btn btn-white btn-sm" title="Tamamen Sil"><i class="fa fa-trash"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="mail-ontact"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.SenderUser.Name @message.SenderUser.Surname</a></td>
                                        <td class="mail-subject"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a></td>
                                        <td class="text-right mail-date">@message.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }
                                else if (message.SenderUserId == ViewBag.LoginUserId) @* Giren kisinin baskasina gonderdigi mesajlardan cop kutusuna tasidigi mesajlar listelenecek *@
                                {
                                    <tr class="read">
                                        <td class="check-mail">
                                            @* <input type="checkbox" class="i-checks"> *@
                                            <div class="btn-group">

                                                <a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="UndoDeleteSendBox" asp-route-messageId="@message.Id" title="Geri Al" class="mr-2 ml-1 mt-1"><i class="fa fa-undo"></i></a>
                                                <form id="deleteForm" asp-area="Admin" asp-controller="Message" asp-action="HardDeleteSendBox" asp-route-messageId="@message.Id" method="post" onsubmit="event.preventDefault(); confirmDelete(event)">
                                                    <button type="submit" class="btn btn-white btn-sm"><i class="fa fa-trash"></i></button>
                                                </form>

                                            </div>
                                        </td>
                                        <td class="mail-ontact"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">Ben</a></td>
                                        <td class="mail-subject"><a data-id="@message.Id" asp-area="Admin" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a></td>
                                        <td class="text-right mail-date">@message.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div style="margin-left:1.5em; margin-bottom:2em; padding-top:1em;">
                        <h4>Henüz silmiş olduğunuz bir mesajınız yok.</h4>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('btn').addEventListener('click', function () {
        location.reload(); // Btn id'ye sahip butona tiklandiginda sayfa yeniden yuklenmesi icin.
    });
</script>

<script>
    function confirmDelete(event) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                // Silme islemini gerceklestir
                document.getElementById("deleteForm").submit();
            } else {
                // İptal edildiginde yapilacak islemler
                console.log("Silme işlemi iptal edildi.");
                return false;
            }
        });
    }
</script>
