@model List<LessonDocumentListDto>

@{
    ViewData["Title"] = "Dokümanlar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dokümanlar</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Ders Materyalleri</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Dokümanlar</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="card">
                    <div class="text-nowrap m-5">

                        <table class="table table-hover" id="lessonDocumentsTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Ders</th>
                                    <th>Başlık</th>
                                    <th>Ders Materyali</th>
                                    <th>Yükleyen</th>
                                    <th>Yüklenme Tarihi</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Ders</th>
                                    <th>Başlık</th>
                                    <th>Ders Materyali</th>
                                    <th>Yükleyen</th>
                                    <th>Yüklenme Tarihi</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                            <tbody class="table-border-bottom-0">
                                @foreach (var document in Model)
                                {
                                    <tr name="@document.Id">
                                        <td>@document.Lesson.LessonName</td>
                                        <td>@document.Title</td>
                                        <td><a href="~/documents/@document.Document.FileName">@document.Document.FileName</a></td>
                                        <td>@document.LessonDocumentTeacherInfo</td>
                                        <td>@document.CreatedDate.ToShortDateString()</td>
                                        <td>@(document.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                                        <td class="text-center">
                                            <a class="btn btn-primary btn-sm" data-id="@document.Id" asp-area="Admin" asp-controller="LessonDocument" asp-action="Update" asp-route-lessonDocumentId="@document.Id"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-sm" data-id="@document.Id" asp-area="Admin" asp-controller="LessonDocument" asp-action="SafeDelete" asp-route-lessonDocumentId="@document.Id"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/lessonDocumentIndex.js" type="application/ecmascript"></script>
}