@model List<ReportDto>

@{
    ViewData["Title"] = "Silinmiş Haberler";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Silinmiş Haberler</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Silinmiş Öğeler</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Haberler</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="card">
                    <div class="table-responsive text-nowrap m-5">

                        <table class="table table-bordered" id="reportsTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>İçerik</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Başlık</th>
                                    <th>İçerik</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                            <tbody class="table-border-bottom-0">
                                @foreach (var report in Model)
                                {
                                    <tr name="@report.Id">
                                        <td>@report.Title</td>
                                        <td>@Html.Raw(report.Content)</td>
                                        <td>@report.CreatedDate.ToShortDateString()</td>
                                        <td>@(report.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                                        <td class="text-center">
                                            <a class="btn btn-warning btn-sm" data-id="@report.Id" asp-area="Admin" asp-controller="Report" asp-action="UndoDelete" asp-route-reportId="@report.Id"><i class="fa fa-undo"></i></a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/reportIndex.js" type="application/ecmascript"></script>
}