@model ReportListDto

@{
    ViewData["Title"] = "Haberler";
}

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Haberler</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Haberler</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- courses section -->
<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Okulumuz Hakkında</p>
            <h3 class="title-style">Güncel Haberler</h3>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in Model.Reports)
            {
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="coursecard-single">
                        <div class="grids5-info position-relative">
                            @if (item.ImageId is not null)
                            {
                                <img src="~/images/@item.Image.FileName" style="width:374px; height:248.94px;" alt="" class="img-fluid" />
                            }
                            else
                            {
                                <img src="~/icons/empty_image.jpg" style="width:374px; height:248.94px;" alt="" class="img-fluid" />
                            }
                            @* <div class="meta-list">
                        <a href="courses.html">Art & Design</a>
                        </div> *@
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-calendar" style="color:gray;"></i> @(((DateTime)item.CreatedDate).ToString("dd-MM-yyyy"))</li>
                                    @* <li> <i class="fas fa-star"></i> 4.5</li> *@
                                </ul>
                            </div>
                            <h4>
                                @if (item.Title.Length <= 30)
                                {
                                    <a href="#">@item.Title</a>
                                }
                                else
                                {
                                    <a href="#">@item.Title.Substring(0, 28) ...</a>

                                }
                            </h4>
                            <p>
                                @Regex.Replace(HttpUtility.HtmlDecode(item.Content), @"<[^>]*>|&nbsp;", "").Substring(0, 30)...

                            </p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                                <h6></h6>
                                <a class="btn btn-style-primary" data-id="@item.Id" asp-controller="Report" asp-action="Detail" asp-route-reportId="@item.Id">
                                    Detayları gör<i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- pagination -->
        <div class="pagination-style text-center mt-5">
            <ul>
                @if (Model.ShowPrevious)
                {
                    <li>
                        @* currentPage yazim sekli Controller'daki ile ayni olmasi lazim. Cunku o sekilde baglayacak *@
                        <a class="" asp-route-currentPage="@(Model.CurrentPage-1)" asp-route-pageSize="@(Model.PageSize)">
                            <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                        </a>
                    </li>
                }

                @for (int i = 1; i < Model.TotalPages; i++)
                {
                    <li>
                        @* Bulunan sayfaya esitse o sayfanin kutucugunu aktif halde gostermek icin*@
                        <a class="@(i == Model.CurrentPage ? "active" : "")" asp-route-currentPage="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                    </li>
                }

                @if (Model.ShowNext) @* True gelirse sonraki sayfa var anlamina gelir *@
                {
                    <li>
                        <a class="" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-pageSize="@(Model.PageSize)">
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <!-- //pagination -->
    </div>
</div>
<!-- //courses section -->