@model List<RoleListDto>

@{
    ViewData["Title"] = "Roller";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Roller</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="Role" asp-action="Index">Roller</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Rol Yönetimi</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="card">
                    <div class="text-nowrap m-5">

                        <a class="btn btn-outline-primary mb-3" asp-area="Admin" asp-controller="Role" asp-action="Add">
                            Rol Ekle <i class="fa fa-plus"></i>
                        </a>

                        <table class="table table-striped" id="rolesTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Rol Adı</th>
                                    <th>Normalleştirilmiş Adı</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Rol Adı</th>
                                    <th>Normalleştirilmiş Adı</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                            <tbody class="table-border-bottom-0">
                                @foreach (var role in Model)
                                {
                                    <tr name="@role.Id">
                                        <td>@role.Name</td>
                                        <td>@role.NormalizedName</td>
                                        <td class="text-center">
                                            <a class="btn btn-primary btn-sm" data-id="@role.Id" asp-area="Admin" asp-controller="Role" asp-action="Update" asp-route-roleId="@role.Id"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-sm" data-id="@role.Id" asp-area="Admin" asp-controller="Role" asp-action="Delete" asp-route-roleId="@role.Id"><i class="fa fa-minus-circle"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/roleIndex.js" type="application/ecmascript"></script>
}
