<section class="w3-stats pt-4 pb-3" id="stats">
    <div class="container pb-md-5 pb-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">İstatiklerimiz</p>
            <h3 class="title-style">Sizlerle Paylaşmaktan Gurur Duyuyoruz</h3>
        </div>
        <div class="row text-center pt-4">
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-1.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-sm-1" data-to="@ViewBag.studentCount" data-speed="1500">@ViewBag.studentCount</div>
                    <p class="count-text">Kayıtlı Öğrenciler</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/icons/teachers.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="@ViewBag.teacherCount" data-speed="1500">@ViewBag.teacherCount</div>
                    <p class="count-text">Uzman Öğretmenler</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-3.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="@ViewBag.gradeCount" data-speed="1500">@ViewBag.gradeCount</div>
                    <p class="count-text">Toplam Derslik</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/icons/newsIcon.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="@ViewBag.reportCount" data-speed="1500">@ViewBag.reportCount</div>
                    <p class="count-text">Toplam Haber</p>
                </div>
            </div>
        </div>
    </div>
</section>