@model List<GradeListDto>

@{
    ViewData["Title"] = "Sınıflar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sınıflar</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Sınıf Listesi</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="card">
                    <div class="text-nowrap m-5">
                        <a class="btn btn-outline-primary mb-3" asp-area="Admin" asp-controller="Grade" asp-action="Add">
                            Sınıf Ekle <i class="fa fa-plus"></i>
                        </a>
                        <table class="table table-striped" id="gradesTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Sınıf Adı</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Sınıf Adı</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                            <tbody class="table-border-bottom-0">
                                @foreach (var grade in Model)
                                {
                                    <tr name="@grade.Id">
                                        <td>@grade.Name</td>
                                        <td>@(grade.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                                        <td class="text-center">
                                            <a class="btn btn-secondary btn-sm" data-id="@grade.Id" asp-area="Admin" asp-controller="Grade" asp-action="GetAllLessonsWithGrade" asp-route-gradeId="@grade.Id"><i class="fa fa-book"></i> Dersleri Gör</a>
                                            <a class="btn btn-warning btn-sm" data-id="@grade.Id" asp-area="Admin" asp-controller="Grade" asp-action="GetAllStudentsWithGrade" asp-route-gradeId="@grade.Id"><i class="fa fa-graduation-cap"></i> Öğrencileri Gör</a>
                                            <a class="btn btn-primary btn-sm" data-id="@grade.Id" asp-area="Admin" asp-controller="Grade" asp-action="Update" asp-route-gradeId="@grade.Id"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-sm" data-id="@grade.Id" asp-area="Admin" asp-controller="Grade" asp-action="SafeDelete" asp-route-gradeId="@grade.Id"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/gradeIndex.js" type="application/ecmascript"></script>
}