@model List<UserListDto>

@{
    ViewData["Title"] = "Öğrenciler";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Kullanıcılar</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="User" asp-action="Index">Kullanıcılar</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Öğrenci Listesi</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="card">
                    <div class="text-nowrap m-5">
                        <a class="btn btn-outline-primary mb-3" asp-area="Admin" asp-controller="User" asp-action="AddStudent">
                            Öğrenci Ekle <i class="fa fa-plus"></i>
                        </a>
                        <table class="table table-striped" id="usersTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>E-Mail</th>
                                    <th>Telefon Numarası</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Cinsiyeti</th>
                                    <th>Rolü</th>
                                    <th>Sınıfı</th>
                                    <th>Numarası</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>E-Mail</th>
                                    <th>Telefon Numarası</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Cinsiyeti</th>
                                    <th>Rolü</th>
                                    <th>Sınıfı</th>
                                    <th>Numarası</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                            <tbody class="table-border-bottom-0">
                                @foreach (var user in Model)
                                {
                                    <tr name="@user.Id">
                                        <td>@user.Name</td>
                                        <td>@user.Surname</td>
                                        <td>@user.Email</td>
                                        <td>@user.PhoneNumber</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Gender</td>
                                        <td>@user.Role</td>
                                        <td>@user.Grade.Name</td>
                                        <td>@user.StudentNo</td>
                                        <td class="text-center">
                                            <div class="row">
                                                <a class="btn btn-primary btn-sm" style="margin-right:0.5em;" data-id="@user.Id" asp-area="Admin" asp-controller="User" asp-action="UpdateStudent" asp-route-userId="@user.Id"><i class="fa fa-edit"></i></a>
                                                <form id="deleteForm" asp-area="Admin" asp-controller="User" asp-action="SafeDelete" asp-route-userId="@user.Id" method="post" onsubmit="event.preventDefault(); confirmDelete(event)">
                                                    <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-minus-circle"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a class="btn btn-outline-success" asp-area="Admin" asp-controller="User" asp-action="StudentExcelReport"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Öğrenci Listesini İndir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/userIndex.js" type="application/ecmascript"></script>

    <script>
        function confirmDelete(event) {
            Swal.fire({
                title: 'Öğrenciyi silmek istediğinize emin misiniz?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Silme islemini gerceklestir
                    document.getElementById("deleteForm").submit();
                } else {
                    // İptal edildiginde yapilacak islemler
                    console.log("Silme işlemi iptal edildi.");
                    return false;
                }
            });
        }
    </script>
}
