@model IPagedList<MessageListDto>
@{
    ViewData["Title"] = "Yıldızlı Mesajlar";
}
<div class="inner-block" style="margin-bottom: 20em;">
    <div class="inbox">
        @if (ViewBag.ImportantMessageCount != 0)
        {
            <h2> Yıldızlı Mesajlar (@ViewBag.ImportantMessageCount)</h2>
        }
        else
        {
            <h2> Yıldızlı Mesajlar</h2>
        }

        @await Component.InvokeAsync("MessageSidebarTeacher")

        <div class="col-md-8 mailbox-content  tab-content tab-content-in">
            <div class="tab-pane active text-style" id="tab1">
                <div class="mailbox-border">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left" style="margin-top:0.7em;">
                            <button class="btn btn-light" id="btn" title="Yenile">
                                <div class="btn btn_1 mrg5R">
                                    <i class="fa fa-refresh"> </i>
                                </div>
                            </button>
                            @if (Model.Count != 0) @* Eger sayfada hic veri listelenmiyorsa bu buton gozukmesin *@
                            {
                                <a asp-area="Teacher" asp-controller="Message" asp-action="SafeDeleteAllImportantMessages" title="Tümünü Sil" class="btn btn-light" style="color:black;">
                                    <i class="fa fa-trash-o"></i> Tümünü Sil
                                </a>
                            }
                            <div class="clearfix"> </div>
                        </div>
                        <div class="float-right">
                            <div class="btn-group" style="float:inline-end;">
                                @* Mesaj sayisi 10'dan fazla ise sayfalama islemi *@
                                @if (Model.Count >= 10)
                                {
                                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("GetAllImportant", new { page }))
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.Count != 0)
                    {
                        <table class="table tab-border">
                            <tbody>
                                @foreach (var message in Model)
                                {
                                    <tr class="read checked">
                                        <td class="hidden-xs">
                                            @*  <input type="checkbox" class="checkbox"> *@
                                            <a style="color:dimgray;" data-id="@message.Id" asp-area="Teacher" asp-controller="Message" asp-action="SafeDeleteInBox" asp-route-messageId="@message.Id" class="mr-2 ml-1" title="Çöp Kutusuna Taşı"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                        <td class="hidden-xs">
                                            @if (message.IsImportant) @* Mesaj onemli klasorunde ise yildizlamaktan vazgec butonu aktif olacak *@
                                            {
                                                <a style="color:dimgray;" data-id="@message.Id" asp-area="Teacher" asp-controller="Message" asp-action="UndoMakeImportantMessage" asp-route-messageId="@message.Id" title="Yıldızlamaktan Vazgeç">
                                                    <i class="fa fa-star icon-state-warning"> </i>
                                                </a>
                                            }
                                        </td>
                                        <td class="hidden-xs">
                                            <a style="color:black" data-id="@message.Id" asp-area="Teacher" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.SenderUser.Name @message.SenderUser.Surname</a>
                                        </td>
                                        <td>
                                            <a style="color:dimgray;" data-id="@message.Id" asp-area="Teacher" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a>
                                        </td>
                                        <td>
                                            @message.CreatedDate.ToString("dd MMM yyyy")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div style="margin-left:1.5em; margin-bottom:2em; margin-top:2em;">
                            <h4>Henüz yıldızlamış olduğunuz bir mesajınız yok.</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script>
    document.getElementById('btn').addEventListener('click', function () {
        location.reload(); // Btn id'ye sahip butona tiklandiginda sayfa yeniden yuklenmesi icin.
    });
</script>