@model AnnouncementListDto

@{
	ViewData["Title"] = "Duyuru "+ Model.Title;
}

<div class="col-md-12 chart-layer1 m-5" style="margin-bottom:400px; margin-top:150px;">
	<div class="user-marorm" style="margin-top: 1.5em; margin-bottom: 1.5em; margin-left: 1.5em; margin-right: 1em;">
		<div class="malorm-bottom">
			<h4>@Model.CreatedDate.ToShortDateString()</h4>
			<h2>@Model.CreatedBy</h2>
			<h1>@Model.Title</h1>
			<p>@Html.Raw(Model.Content)</p>
			<ul class="malorum-icons">
				<li>
					<a class="btn btn-primary" asp-area="Teacher" asp-controller="Announcement" asp-action="Index"><i class="fa fa-arrow-left"></i>&nbsp; Geri Dön</a>
				</li>
				<li>
					<a id="deleteForm" onclick="return confirmDelete()" type="button" class="btn btn-danger btn-sm" data-id="@Model.Id" asp-area="Teacher" asp-controller="Announcement" asp-action="SafeDeleteTeacherAnnouncement" asp-route-announcementId="@Model.Id"><i class="fa fa-minus-circle"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="clearfix"> </div>

<script>
	function confirmDelete() {
		var result = confirm("Silmek istediğinize emin misiniz?");
		if (result) {
			// Silme islemini gerceklestir
			document.getElementById("deleteForm").submit();
		} else {
			// İptal edildiginde yapilacak islemler
			console.log("Silme işlemi iptal edildi.");
			return false;
		}
	}
</script>