@model IPagedList<MessageListDto>
@{
    ViewData["Title"] = "Çöp Kutusu";
}
<div class="inner-block" style="margin-bottom: 20em;">
    <div class="inbox">
        @if (ViewBag.trashMessageCount != 0)
        {
            <h2>Çöp Kutusu (@ViewBag.trashMessageCount)</h2>
        }
        else
        {
            <h2>Çöp Kutusu</h2>
        }
        @await Component.InvokeAsync("MessageSidebarStudent")

        <div class="col-md-8 mailbox-content  tab-content tab-content-in">
            <div class="tab-pane active text-style" id="tab1">
                <div class="mailbox-border">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left" style="margin-top:0.7em;">
                            <button class="btn btn-light" id="btn" title="Yenile">
                                <div class="btn btn_1 mrg5R">
                                    <i class="fa fa-refresh"> </i>
                                </div>
                            </button>
                            @if (Model.Count != 0) @* Eger sayfada hic veri listelenmiyorsa bu buton gozukmesin *@
                            {
                                <a asp-area="Student" asp-controller="Message" asp-action="HardDeleteAllTrashBox" title="Tümünü Sil" class="btn btn-light" style="color:black;">
                                    <i class="fa fa-trash-o"></i> Tümünü Sil
                                </a>
                            }
                            <div class="clearfix"> </div>
                        </div>
                        <div class="float-right">
                            <div class="btn-group" style="float:inline-end;">
                                @* Mesaj sayisi 10'dan fazla ise sayfalama islemi *@
                                @if (Model.Count >= 10)
                                {
                                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("TrashBox", new { page }))
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.Count != 0)
                    {
                        <table class="table tab-border">
                            <tbody>
                                @foreach (var message in Model)
                                {
                                    @if (message.ReceiverUserId == ViewBag.LoginUserId) @* Giren kisiye ait gelen mesajlardan cop kutusuna tasidigi mesajlar listelenecek *@
                                    {
                                        <tr class="read checked">
                                            <td class="hidden-xs">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        @* <input type="checkbox" class="checkbox"> *@
                                                        <a style="color:dimgray;" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="UndoDeleteInBox" asp-route-messageId="@message.Id" title="Geri Al"><i class="fa fa-undo"></i></a>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <form id="deleteForm" asp-area="Student" asp-controller="Message" asp-action="HardDeleteInBox" asp-route-messageId="@message.Id" method="post" onsubmit="event.preventDefault(); confirmDelete(event)">
                                                            <button type="submit" style="color:dimgray;" class="btn btn-light" title="Tamamen Sil"><i class="fa fa-trash"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="hidden-xs">
                                                <a style="color:black" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.SenderUser.Name @message.SenderUser.Surname</a>
                                            </td>
                                            <td>
                                                <a style="color:dimgray;" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a>
                                            </td>
                                            <td>
                                                @message.CreatedDate.ToString("dd MMM yyyy")
                                            </td>
                                        </tr>
                                    }
                                    else if (message.SenderUserId == ViewBag.LoginUserId) @* Giren kisinin baskasina gonderdigi mesajlardan cop kutusuna tasidigi mesajlar listelenecek *@
                                    {
                                        <tr class="read checked">
                                            <td class="hidden-xs">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        @* <input type="checkbox" class="checkbox"> *@
                                                        <a style="color:dimgray;" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="UndoDeleteSendBox" asp-route-messageId="@message.Id" title="Geri Al"><i class="fa fa-undo"></i></a>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <form id="deleteForm" asp-area="Student" asp-controller="Message" asp-action="HardDeleteSendBox" asp-route-messageId="@message.Id" method="post" onsubmit="event.preventDefault(); confirmDelete(event)">
                                                            <button type="submit" style="color:dimgray;" class="btn btn-light" title="Tamamen Sil"><i class="fa fa-trash"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="hidden-xs">
                                                <a style="color:black" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">Ben</a>
                                            </td>
                                            <td>
                                                <a style="color:dimgray;" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a>
                                            </td>
                                            <td>
                                                @message.CreatedDate.ToString("dd MMM yyyy")
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div style="margin-left:1.5em; margin-bottom:2em; margin-top:2em;">
                            <h4>Henüz silmiş olduğunuz bir mesajınız yok.</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script>
    document.getElementById('btn').addEventListener('click', function () {
        location.reload(); // Btn id'ye sahip butona tiklandiginda sayfa yeniden yuklenmesi icin.
    });
</script>

<script>
    function confirmDelete(event) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                // Silme islemini gerceklestir
                document.getElementById("deleteForm").submit();
            } else {
                // İptal edildiginde yapilacak islemler
                console.log("Silme işlemi iptal edildi.");
                return false;
            }
        });
    }
</script>