@model List<MessageListDto>
@{
    ViewData["Title"] = "Çöp Kutusu";
}
<div class="inner-block" style="margin-bottom: 20em;">
    <div class="inbox">
        @if (ViewBag.trashMessageCount != 0)
        {
            <h2>Çöp Kutusu (@ViewBag.trashMessageCount)</h2>
        }
        else
        {
            <h2>Çöp Kutusu</h2>
        }
        @await Component.InvokeAsync("MessageSidebarStudent")

        <div class="col-md-8 mailbox-content  tab-content tab-content-in">
            <div class="tab-pane active text-style" id="tab1">
                <div class="mailbox-border">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <button class="btn btn-light" id="btn">
                                <div class="btn btn_1 mrg5R">
                                    <i class="fa fa-refresh"> </i>
                                </div>
                            </button>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="float-right">
                            <div class="btn-group" style="float:inline-end;">
                                <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    @if (Model.Count != 0)
                    {
                        <table class="table tab-border">
                            <tbody>
                                @foreach (var message in Model)
                                {
                                    <tr class="read checked">
                                        <td class="hidden-xs">
                                            <input type="checkbox" class="checkbox">
                                        </td>
                                        <td class="hidden-xs">
                                            <a style="color:black" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.SenderUser.Name @message.SenderUser.Surname</a>
                                        </td>
                                        <td>
                                            <a style="color:dimgray;" data-id="@message.Id" asp-area="Student" asp-controller="Message" asp-action="Details" asp-route-messageId="@message.Id">@message.Subject</a>
                                        </td>
                                        <td>
                                            @message.CreatedDate.ToString("dd MMM yyyy")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div style="margin-left:1.5em; margin-bottom:2em; margin-top:2em;">
                            <h4>Henüz silmiş olduğunuz bir mesajınız yok.</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script>
    document.getElementById('btn').addEventListener('click', function () {
        location.reload(); // Btn id'ye sahip butona tiklandiginda sayfa yeniden yuklenmesi icin.
    });
</script>