<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.TotalUserCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-file-text fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.TotalReportCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-bell fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.TotalAnnouncementCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-phone fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.TotalContactCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-comment fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.TotalCommentCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-lock fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.TotalRoleCount</h2>
                </div>
            </div>
        </div>
    </div>
</div>