@model LessonAddDto

@{
    ViewData["Title"] = "Ders Ekleme";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dersler</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="Lesson" asp-action="Index">Dersler</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Ders Ekleme</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="col-md-12">
                    <div class="card mb-4">
                        <form asp-controller="Lesson" asp-action="Add" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="card-body">

                                @if (ViewData["ErrorMessage"] != null) @* Eger tabloda var olan ve silinmemis bir ders adi girilmisse(ayni sinifa ait) uyari verdirilecek *@
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["ErrorMessage"]
                                    </div>
                                }

                                <div class="form-group">
                                    <label asp-for="LessonCode" class="form-label">Ders Kodu</label>
                                    <input asp-for="LessonCode" type="text"
                                           class="form-control mb-1"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen ders kodunu giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="LessonCode" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LessonName" class="form-label">Ders Adı</label>
                                    <input asp-for="LessonName" type="text"
                                           class="form-control mb-1"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen ders adını giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="LessonName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LessonCredit" class="form-label">Haftalık Ders Saati</label>
                                    <input asp-for="LessonCredit" type="text"
                                           class="form-control mb-1"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen haftalık ders saatini giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="LessonCredit" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xl-11 col-lg-10 col-md-9 col-sm-9 ">
                                            @*  Sinif listesini dropdown icerisinde listeliyoruz *@
                                            <label asp-for="GradeId" class="form-label">Sınıf Bilgisi</label> <span style="color:red;">*</span>
                                        </div>
                                        @* data- ile baslayan kisimlara bs eklersek bootstrapten gelecegini anlar ve projedeki digerleriyle cakismaz *@
                                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 ">
                                            <a class="btn link-primary mb-2" style="color:dodgerblue;" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                                Sınıf Ekle <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <select asp-for="GradeId" class="form-control mb-3" asp-items="@(new SelectList(Model.Grades,"Id","Name"))"></select>
                                    <span asp-validation-for="GradeId" class="text-danger"></span>

                                </div>

                                <div class="form-group">

                                    @*  Ogretmen listesini dropdown icerisinde listeliyoruz *@
                                    <label asp-for="UserId" class="form-label">Öğretmen Bilgisi Seçin <span style="color:red;">*</span></label>
                                    <select id="userList" class="form-control mb-3" asp-for="UserId" asp-items="@(new SelectList(Model.Users,"Id","TeacherInfo"))"></select>
                                    <span asp-validation-for="UserId" class="text-danger"></span>

                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Sınıf Ekleme</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="d-block form-label">Sınıf İsmi</label>
                        <input class="form-control" type="text" id="gradeName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" data-keyboard="false" class="btn btn-primary" id="btnSave">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* AJAX - Bootstrap modal ile sinif ekleme islemi *@

    <script src="~/js/gradeAddWithAjax.js"></script>

    <script>
        var app = app || [];
        app.Urls = app.Urls || [];

        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.gradeAddUrl = "@(Url.Action("AddWithAjax", "Grade"))";
        app.Urls.lessonAddUrl = "@(Url.Action("Add", "Lesson"))";
    </script>
}