@model SearchModel

@{
    ViewData["Title"] = "Arama Sonuçları";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Arama Sonuçları</h2>
    </div>
</div>

@if (ViewBag.Keyword is null)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content p-5">
                        <h2>
                            Aradığınız “@ViewBag.Keyword” kelimesine ait sonuç bulunamadı... :(
                        </h2>
                        <p style="color:gray;">Lütfen tekrar deneyin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.Announcements.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.Announcements.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var announcement in Model.Announcements)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a asp-area="Admin" asp-controller="Announcement" asp-action="Update" asp-route-announcementId="@announcement.Id">@announcement.Title</a></h3>
                                <a href="#" class="search-link">@(((DateTime)announcement.CreatedDate).ToString("dd-MM-yyyy"))</a>
                                <p>
                                    @Html.Raw(announcement.Content)
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                        @if (Model.Announcements.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Announcements, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.Contacts.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.Contacts.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var contact in Model.Contacts)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a asp-area="Admin" asp-controller="Contact" asp-action="Detail" asp-route-contactId="@contact.Id">@contact.Subject</a></h3>
                                <a href="#">@contact.NameSurname ~ @contact.EMail ~ Oluşturulma Tarihi: @(((DateTime)contact.CreatedDate).ToString("dd-MM-yyyy"))</a>
                                <p>
                                    @contact.Message
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                        @if (Model.Contacts.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Contacts, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.Grades.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.Grades.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var grade in Model.Grades)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a asp-area="Admin" asp-controller="Grade" asp-action="Update" asp-route-gradeId="@grade.Id">@grade.Name</a></h3>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                        @if (Model.Grades.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Grades, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.Lessons.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.Lessons.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var lesson in Model.Lessons)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a asp-area="Admin" asp-controller="Lesson" asp-action="Update" asp-route-lessonId="@lesson.Id">@lesson.LessonName</a></h3>
                                <a href="#" class="search-link">Ders Kodu: @lesson.LessonCode - Ders Saati: @lesson.LessonCredit</a>

                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                        @if (Model.Lessons.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Lessons, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.LessonScores.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.LessonScores.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var lessonScore in Model.LessonScores)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a class="a-custom-link" asp-area="Admin" asp-controller="LessonScore" asp-action="Update" asp-route-lessonScoreId="@lessonScore.Id">Öğrenci No: @lessonScore.StudentNo - @lessonScore.GradeName </a></h3>
                                <a href="#" class="a-custom-link">@lessonScore.Lesson.LessonCode @lessonScore.Lesson.LessonName  </a>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                        @if (Model.LessonScores.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.LessonScores, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.Reports.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.Reports.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var report in Model.Reports)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a asp-area="Admin" asp-controller="Report" asp-action="Update" asp-route-reportId="@report.Id">@report.Title</a></h3>
                                <a href="#" class="search-link">@(((DateTime)report.CreatedDate).ToString("dd-MM-yyyy"))</a>
                                <p>
                                    @Html.Raw(report.Content)
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                        @if (Model.Reports.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Reports, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.Roles.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.Roles.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var role in Model.Roles)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a asp-area="Admin" asp-controller="Role" asp-action="Update" asp-route-roleId="@role.Id">@role.Name</a></h3>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }

                        @if (Model.Roles.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Roles, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.Users.Count != 0)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Şunun için @Model.Users.TotalItemCount sonuç bulundu: <span class="text-navy">“@ViewBag.Keyword”</span>
                        </h2>
                        @foreach (var user in Model.Users)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a asp-area="Admin" asp-controller="User" asp-action="Update" asp-route-userId="@user.Id">@user.Name @user.Surname</a></h3>
                                <a href="#" class="search-link">@user.UserName - @user.Email</a>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                        @if (Model.Users.TotalItemCount > 5)
                        {
                            @Html.PagedListPager((IPagedList)Model.Users, page => Url.Action("Search", new { keyword = ViewBag.Keyword, page }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content p-5">
                        <h2>
                            Aradığınız “@ViewBag.Keyword” kelimesine ait sonuç bulunamadı... :(
                        </h2>
                        <p style="color:gray;">Lütfen tekrar deneyin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}